<!-----------------------------------------------------------------
----Description: Login.
----Fait par : Maxime Savard et Keven Maltais
----Le: 2018-02-26
----Révisé le:___________
------------------------------------------------------------------>

<section class="content BackGroundLogin">
    <div class="col-md-12">
        <div class="card card-container box-shadow">
            <img id="profile-img" class="profile-img-card" src="images/loginDog.jpg" />
            <p id="profile-name" class="profile-name-card"></p>
            <form class="form-signin">
                <span id="reauth-email" class="reauth-email"></span>
                <input ng-model="User" type="text" id="inputEmail" class="form-control" placeholder="Utilisateur" required autofocus>
                <input ng-model="Password" type="password" id="inputPassword" class="form-control" placeholder="Mots de passe" required>
                <button ng-click="checkAuthentification()" class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Connexion</button>
            </form><!-- /form -->
            <div confirm="Un mail contenant vos informations vous sera envoyé!" ng-click="SendEmail()">
                Mot de passe oublié?
            </div>
        </div><!-- /card-container -->
    </div>
</section>
